<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <time>Time : </time>
    </head>
    <body class="in">
        <div>
            <h1>Welcome . . .</h1>
        </div>
        <hr>
        <div>
            <h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsam, consequatur illo pariatur commodi, quas tempora laboriosam perspiciatis minus amet asperiores possimus quo et non optio inventore expedita ab aut.
            </h4>
        </div>
        <button>let's <a href="{{ url_for('login') }}">Goo</a></button>
    </body>
</html>
